# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Build a table listing Data Science Tools
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
1. Matplotlib
1. Pandas
1. SciPy
1. NumPy

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Leandro Tebaldi Medeiros da Silva